body {
  margin: 0;
  /* padding-bottom: 160px; */
  font-family: sans-serif;
  background: url(./img/bg.png);
  color: #261413;
  overflow-y: scroll;
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

h1,
h2 {
  text-align: center;
  color: rgb(38, 20, 19);
}

/* style Header */
header {
  font-size: x-large;
  /* color: rgb(50, 50, 50); */
  padding: 8px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0 12px 34px -11px rgb(38 20 19 / 10%);
  backdrop-filter: blur(2px);
}

.container {
  padding-top: 24px;
  /* margin-bottom: 160px; */
  /* margin-right: 160px; */
  padding-right: 160px;
  padding-bottom: 160px;
}

.cards {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 256px;
  max-height: 512px;
  padding: 0 16px;
  box-shadow: 0 0 8px #000;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-image: linear-gradient(315deg, lightgrey, white);
  font-size: .9rem;
}

.card__img {
  height: 256px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-top: 16px;
}

.card__img img {
  border-radius: 8px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}

.card__content {
  display: contents;
}

.card__img-placeholder {
  height: 256px;
  display: flex;
  align-items: center;
}

.card__img-placeholder img {
  width: auto;
  height: 200px;
  object-fit: unset;
  opacity: 0.2;
}

.card h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.card-favorite {
  border: none;
  padding: 0;
  font-size: 1rem;
  background-color: transparent;
}

.card-favorite i,
.card__rate i {
  color: crimson;
}

.card__title,
.card__buttons {
  display: flex;
  gap: 8px;
}

.card__description {
  text-align: justify;
  flex-grow: 1;
}

.card__buttons {
  justify-content: center;
  margin-bottom: 16px;
}

.card__buttons button {
  height: 32px;
  border-radius: 8px;
  border-width: 1px;
  color: #261413;
}

.card__buttons button:first-child {
  margin-right: 55%;
}

.button__add {
  position: fixed;
  left: calc(100vw - 120px);
  top: calc(100vh - 120px);
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 16px 4px rgba(38, 20, 19, .2) inset;
  padding: 0;
  font-size: 42px;
  cursor: pointer;
  background-color: rgb(228, 144, 81);
  color: #261413;
  display: flex;
}

.button__add i {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button__add:hover {
  background-color: rgb(228, 124, 46);
}

.button__add:active {
  background-color: rgba(228, 118, 34, 1);
}

/* MODAL STYLES */
.modal__form-add,
.modal__form-edit,
.modal__detail-info {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(3px);
}

/* Detail Modal */
.modal__detail-info .card {
  flex-direction: row;
  width: 800px;
  margin: auto;
  border-radius: 24px;
  padding: 24px 24px;
}

.modal__detail-info .card>* {
  font-size: 1.3rem;
}

.modal__detail-info .card__img {
  height: 352px;
  margin: 0 16px 0 0;
  padding: 0;
}

.modal__detail-info .card__img img {
  height: 352px;
  width: 352px;
  border-radius: 16px;
}

.modal__detail-info .card__img-placeholder img {
  width: auto;
}

.modal__detail-info .card__content {
  width: inherit;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  /* font-size: 1.3rem; */
  height: 352px;
}

.modal__detail-info .card__title h2 {
  font-size: 1.5rem;
}

.modal__detail-info .card-favorite {
  font-size: 1.4rem;
}

.modal__detail-info .card__rate {
  display: flex;
  gap: 4px;
  align-items: end;
}

/* Add Modal */
.modal__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  margin: auto;
  margin-top: 5%;
  background-image: linear-gradient(315deg, lightgrey, white);
  border-radius: 16px;
}

.modal__form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 424px;
}

input,
textarea {
  height: 24px;
  font-size: 16px;
  border-radius: 8px;
  border: 3px solid rgba(215, 178, 153, .6);
}

textarea {
  height: inherit;
  font-family: sans-serif;
}

input:focus,
textarea:focus {
  border: 3px solid rgba(229, 118, 34, 0.5);
}

/* Modal toggler */
.hidden {
  display: none;
  position: inherit;
}