body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 50px;
}

.cards {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 256px;
  max-height: 512px;
  padding: 0 16px;
  box-shadow: 0 0 8px #000;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-image: linear-gradient(135deg, lightgrey, white);
  font-size: .9rem;
}

.card__img {
  height: 256px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-top: 16px;
}

.card__img img {
  border-radius: 8px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}

.card__content {
  display: contents;
}

.card__img-placeholder {
  height: 256px;
  display: flex;
  align-items: center;
}

.card__img-placeholder img {
  width: auto;
  height: 200px;
  object-fit: unset;
  opacity: 0.2;
}

.card h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.card-favorite {
  border: none;
  padding: 0;
  font-size: 1rem;
  background-color: transparent;
}

.card-favorite i,
.card__rate i {
  color: crimson;
}

.card__title,
.card__buttons {
  display: flex;
  gap: 8px;
}

.card__description {
  text-align: justify;
  flex-grow: 1;
}

.card__buttons {
  justify-content: center;
  margin-bottom: 16px;
}

.card__buttons button {
  height: 32px;
  border-radius: 8px;
  border-width: 1px;
}

.card__buttons button:first-child {
  margin-right: 55%;
}

/* Modal Styles */

.modal__container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(3px);
}

.modal__container>div {
  width: 70%;
  margin: auto;
}

.modal__detail-info .card {
  flex-direction: row;
  width: 100%;
  border-radius: 24px;
  padding: 24px 24px;
}

.modal__detail-info .card>* {
  font-size: 1.3rem;
}

.modal__detail-info .card__img {
  height: 352px;
  margin: 0 16px 0 0;
}

.modal__detail-info .card__img img {
  height: 352px;
  width: 352px;
  border-radius: 16px;
}

.modal__detail-info .card__img-placeholder img {
  width: auto;
}

.modal__detail-info .card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* font-size: 1.3rem; */
  height: 352px;
}

.modal__detail-info .card__title h2 {
  font-size: 1.5rem;
  text-align: center;
}

.modal__detail-info .card-favorite {
  font-size: 1.4rem;
}

.modal__detail-info .card__rate {
  display: flex;
  gap: 4px;
  align-items: end;
}

.hidden {
  display: none;
}